<div class="row" style="padding: 1%;">
    <div class="col-md-4 title row" *ngIf="user">
        <div class="profile-img col-md-6">
            <img [src]="user.picturePath" class="img-fluid img-rounded" style="max-height: 500px;">
        </div>
        <div class="col-md-6">
            <ul>    
                <li>
                    <div id="username">
                        <span >{{user.name}} {{user.surname}}
                        </span>
                    </div>
                </li>
                <li>
                    <div>
                        <span > Info: {{user.personalInfo}}</span>
                        
                    </div>
                </li>
                <li>
                    <div >
                        <span >Relationship: {{user.relationship}}</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span >Country: {{user.country}}</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span >City: </span>
                        <span id="city">{{user.city}}</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span >Gender: </span>
                        <span *ngIf="user.gender; else elseBlock">Male </span>
                        <ng-template #elseBlock>
                            Female
                         </ng-template>
                    </div>
                </li>
                <li>
                    <div>
                        <span >Users nearby: </span>
                        <span class="badge badge-light" style="font-size: 1.2em;" id="usersNearlyCount">{{usersNearly.length}}</span>
                        <span> (Check map)</span>
                        <span style="display: none;" id="contentMap">{{contentMap}}</span>
                    </div>
                </li>
                <li>
                    <div id="addPublication">
                        <button (click)="addPublication()" class="btn btn-primary">
                            <span>Add publication</span>
                        </button>
                    </div>
                </li>
                <li *ngIf="isModerator()">
                    <div id="deleteUsers">
                        <button (click)="deleteUsers()" class="btn btn-danger">
                            <span>Delete users</span>
                            
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <input type="button" value="Click to Display Map"onclick="DisplayGoogleMap()" class="btn btn-info" style="margin: 1%;"/>
            <div id="myDiv" style="width:100%;height:400px;"></div>
        </div>
    </div>

    <div class="col-md-4">
        <div *ngIf="user">
            <div><app-publication [userId]="user.id"></app-publication></div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="logout">
            <button (click)="logout()" class="btn btn-danger" style="float:right;">
                <span>Logout</span>
            </button>
    </div>
</div>