<div>
    <div class="title" *ngIf="user">
        <img *ngIf="hasPicture; else elseBlock" [src]="user.picturePath" alt="">
        <ng-template #elseBlock>
           I haven't picture)
        </ng-template>
    </div>
    <div class="title">
        <ul>
            <li>
                
                <div id="username">
                    <span >{{user.name}} {{user.surname}}
                    </span>
                    
                </div>
            </li>
            <li>
                <div>
                    <span > Info: {{user.personalInfo}}</span>
                    
                </div>
            </li>
            <li>
                <div >
                    <span >Relationship: {{user.relationship}}</span>
                </div>
            </li>
            <li>
                <div>
                    <span >Country: {{user.country}}</span>
                </div>
            </li>
            <li>
                <div>
                    <span >City: {{user.city}}</span>
                </div>
            </li>
            <li>
                <div>
                    <span >Gender: </span>
                    <span *ngIf="user.gender; else elseBlock">Male </span>
                    <ng-template #elseBlock>
                        Female
                     </ng-template>
                </div>
            </li>
            <li>
                <div id="addPublication">
                    <button (click)="addPublication()">
                        <span>Add publication</span>
                    </button>
                </div>
            </li>
            <li *ngIf="isModerator()">
                <div id="deleteUsers">
                    <button (click)="deleteUsers()">
                        <span>Delete users</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="user" class="publications title">
        <div><app-publication [userId]="user.id"></app-publication></div>
    </div>
    <div id="logout">
        <button (click)="logout()">
            <span>Logout</span>
        </button>
    </div>
    
</div>
