/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    margin: 0%;
    padding: 0%;
    background-image: url("D:\Epam\EPAM\SocialNetwork_FinalProject\angular final project\social-network\src\resource\images.jpg") ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}